body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 60px; 
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.event {
    padding: 10px;
    background-color: #eee;
    border-radius: 6px;
    margin-bottom: 10px; 
}

.identifier {
    padding: 10px;
}

.event-decs-hide {
    visibility:hidden;
}

.event-desc {
    padding: 10px;
    margin: 5px;    
    border-radius: 6px;
    background-color: white;
}

.regok {
    background-color: green;
}

.regnot {
    background-color: red;
} 

.me {
    border: solid;
}

.date {
    margin: 5px;
    padding: 5px;
}

.date>span {
    margin: 3px;
    font-size: 18px;
    font-weight: bold;

}

.myForm {
    padding: 10px;
    margin: 10px;
    background-color: #EAEAEC;
}
.book{
    padding: 5px;
    margin: 10px;
    background-color: #EAEAEC;
}
.detailed{
    padding: 5px;
    margin: 10px;
    background-color: white;
}

