<div ng-click="flashClicked()" ng-show="flash" class="alert alert-success">
	event created, add times!
</div>

<h2>{{event.name}}</h2>

<div class="identifier"> 
	identidfier <span class="label label-info">{{event.identifier}}</span>
</div>

<div class="event">
	{{event.description}}
</div>

<a ng-href="#/register/{{event.identifier}}" class="btn btn-primary btn-lg btn-block">go to registration</a>

<h3>slots</h3>

<div ng-show="event.slots.length>0">
	<div ng-repeat="d in dates" class="date">
		<span>{{d|date:'dd.MM.yyyy'}}</span>
		<li ng-repeat="slot in event.slots | filter:{date:d} |orderBy:'hh' | orderBy:'date' ">
			{{slot.date}} {{slot.hh|twodigits}}:{{slot.mm|twodigits}} {{slot.text}}
			<a ng-click="deleteSlot(slot)" class="btn btn-sm btn-danger">delete</a>
		</li>
		<a ng-click="newSlotFor(d)" class="btn btn-sm btn-primary">a new slot</a>
	</div>	
</div>


<h3 id="slotcreation">create new slot</h3>

<form role="form" class="myForm">

	<div class="form-group">
 		<label>hour</label>
		<input type="number" ng-model="newSlot.hh" min="0" max="23" class="form-control"></input>
	</div>

	<div class="form-group">
 		<label>minute</label>
		<input type="number" ng-model="newSlot.mm" min="0" max="59" class="form-control"></input>
	</div>

	<div class="form-group">
 		<label>date</label>
		<input type="date" ng-model="newSlot.date" class="form-control"></input>
	</div>

	<div class="form-group">
 		<label>comments</label>
		<input type="text" ng-model="newSlot.text" class="form-control"></input>
	</div>
	
	<div class="form-group">
  	<button type="submit" ng-click="createSlot()" class="btn btn-primary btn-lg btn-block">create</button>
	</div>
</form>

