<h2>helmet</h2>

<form>
	<input type="text" ng-model="author"></input>
	<button ng-click="searchAuthorPage(1)">search by author</button>
</form>

<div ng-show="flash.nobooks" class="alert alert-danger">
	ei tuloksia hakusanalla {{unsuccess}}
</div>

<span ng-repeat="p in pages">
	<p ng-click="searchAuthorPage(p); $event.stopPropagation();" class="btn" ng-hide="p==current">{{p}}</p>
	<p ng-click="searchAuthorPage(p); $event.stopPropagation();" class="btn btn-success" ng-show="p==current">{{p}}</p>
</span>


<div>
	<div ng-repeat="book in books" ng-init="show=false" class="book">
		<h4>{{book.title|stripTrailingSpace}}</h4>
		<div>{{book.author}}</div>

		<div>{{book.publisher|slashToSpace}} {{book.year}}</div>

		<div>
			<a class="btn" ng-click="shelfInfo(book); $event.stopPropagation();">hyllytiedot</a>
		</div>

		<div class="alert alert-info" ng-show="flash[book.library_id]==true">
			tietoja haetaan...
		</div>

		<div class="alert alert-danger" ng-show="no_shelf_info[book.library_id]==true">
			hyllytietoja ei saatavilla
		</div>

		<table class="table table-condensed" ng-hide="isEmptyOrUndefinded(book.shelfInfo)">
			<thead>
				<td></td>
				<td></td>
				<td>etäisyys</td>
			</thead>
			<tr ng-repeat="(library, info) in book.shelfInfo">
				<td><a href="" ng-click="select(library, info); $event.stopPropagation();">{{library}}</a></td>
				<td>{{info['self']}}</td>
				<td>{{dist(location.latitude, location.longitude, info['library']['latitude'], info['library']['longitude'])}} km</td>
			</tr>
		</table>

		<div>
			<a class="btn" ng-click="show=!show; $event.stopPropagation();">lisätiedot</a>
		</div>

		<div class="detailed" ng-show="show">

			<div ng-repeat="desc in book.description">{{desc|slashToSpace}}</div>

			<a ng-href="{{book.library_url}}">see in helmet</a>

			<div ng-show="book.extent.length>0">
				<h4>Further info</h4>
				<ul>
					<li ng-repeat="e in book.extent">{{e}}</li>
				</ul>
			</div>

			<div ng-show="book.author_details.length>0">
				<h4>author details</h4>
				<ul>
					<li ng-repeat="auth in book.all_authors">
						{{auth[0]}} {{auth[1]}}
					</li>
				</ul>
			</div>

			<br>

			{{book}}

		</div>

	</div>
</div>
